language: python
python:
    - "3.6"
install:
    - pip install -r requirements.txt
script: python manage.py test
deploy:
    provider: script
    skip_cleanup: true
    script: bash deploy.sh
    on:
        all_branches: true
