@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, body, .flex-wrapper {
  height: 100%;
  background: #263238;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  color: #e8345a;
  font-weight: 400;
  font-size: 38px;
  display: block;
}

.link {
  color: #1e88e5;
  font-size: 24px;
}

.description {
  display: block;
}

.description-row {

}
