{% load static %}
<html>
  <head>
    <title>BARCAMPS SERVER</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  </head>
  <body>
    <div class="flex-wrapper">
      <div class="container">
        <h1 class="main-title">BARCAMPS SERVER</h1>
        <div class="description">
          <div class="description-row">
            <span class="link">/admin</span> admin dashboard
          </div>
          <div class="description-row">
            <span class="link">/api</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
